.foodSpecific {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.317);
  background-size: fit-content;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px;
  margin: 5% 10%;
}

.foodSpecificImage {
  width: 475px;
  height: 475px;
}

.extraFood {
  padding-bottom: 10%;
}

.directFoodHeading {
  font-size: 60px;
  font-family: 'Staatliches';
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  color: white;
}

.directFoodInfo {
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 24px;
}

.deleteFoodButton {
  color: white;
  width: 150px;
  height: 33px;
  background-color: rgba(0, 0, 0, 0.879);
  font-family: Arial, Helvetica, sans-serif;
  border-style: groove;
}

.directFoodLink {
  font-size: 17px;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}