.specific {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.317);
  background-size: fit-content;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px;
  margin: 5% 10%;
}

.specificImage {
  width: 475px;
  height: 475px;
}

.extra {
  padding-bottom: 10%;
}

.directHeading {
  font-size: 60px;
  font-family: 'Staatliches';
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;;
  color: white;
}

.directInfo {
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 24px;
}

.deleteButton {
  color: white;
  width: 150px;
  height: 33px;
  background-color: rgba(0, 0, 0, 0.879);
  font-family: Arial, Helvetica, sans-serif;
  border-style: groove;
}

.directlink {
  font-size: 17px;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

@media screen and (max-width: 1100px) {
  .specific {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }
  .specificImage{
    width: 700px;
    height: 700px;
  }
  .directHeading{
    font-size: 90px;
  }
  .directInfo {
    font-size: 40px;
  }
  .directLink{
    font-size: 30px;
  }
  .deleteButton{
    width: 300px;
    height: 50px;
    font-size: 39px;
  }
}
