nav {
  text-align: center;
  font-size: 30px;
  font-family: 'Staatliches';
  color: white;
  margin-top: 0px;
  text-decoration: none;

}
  .heading{
  text-align: center;
  font-family: 'Staatliches';
  font-size: 100px;
  margin-top: 0%;
  margin-bottom: 0%;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
  text-decoration: none;
}

.mainMenu {
  display: flex;
  justify-content: center;
}

.NavBar {
  font-size: 33px;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
  margin-right: 10%;
  margin-left: 10%;
  transition: .2s;
}

