.body {
  text-align: center;
  margin: 6% 30% 0% 30%;
  font-family: 'Staatliches';
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px #000000, 0 0 5px #ffffff;
  padding-bottom: 30%;
}